* {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  box-sizing: border-box;
  font-family: "Title2";
  font-size: 17px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1);
}
::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #004257; /* 스크롤바의 색상 */

  border-radius: 10px;
}

input {
  font-family: "Title2";
}

@font-face {
  font-family: "OpensansRegu";
  src: url("./asset/font/OPENSANS-REGULAR.TTF");
}

@font-face {
  font-family: "OpensansMed";
  src: url("./asset/font/OPENSANS-MEDIUM.TTF");
}

@font-face {
  font-family: "OpensansBold";
  src: url("./asset/font/OPENSANS-BOLD.TTF");
}

@font-face {
  font-family: "Title2";
  src: url("./asset/font/A타이틀고딕2.TTF");
}

@font-face {
  font-family: "Title4";
  src: url("./asset/font/A타이틀고딕4.TTF");
}
