* {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  box-sizing: border-box;
}

input {
  font-family: "Noto Sans KR", sans-serif;
}

@font-face {
  font-family: "OpensansRegu";
  src: url("./asset/font/OPENSANS-REGULAR.TTF");
}

@font-face {
  font-family: "OpensansMed";
  src: url("./asset/font/OPENSANS-MEDIUM.TTF");
}

@font-face {
  font-family: "OpensansBold";
  src: url("./asset/font/OPENSANS-BOLD.TTF");
}

@font-face {
  font-family: "Title2";
  src: url("./asset/font/A타이틀고딕2.TTF");
}

@font-face {
  font-family: "Title4";
  src: url("./asset/font/A타이틀고딕4.TTF");
}
